@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&family=Russo+One&family=Teko:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}
html {
    scroll-behavior: smooth;
}

.max-width {
    max-width: 1300px;
    margin: auto;
    padding: 0 80px;
}

.navbar {
    position: fixed;
    width: 100%;
    padding: 15px 0;
    font-family: 'Poppins', sans-serif;
    transition: all 1s ease;
    
}

.navbar.sticky {
    padding: 15px 0;
    background: #00aeef;
    z-index: 999;
}

.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar.sticky .logo a span {
    color: #fff;
    transition: all 1s ease;
}

.navbar .logo a {
    color: white;
    font-size: 35px;
    font-weight: 600;
}
.navbar .logo a span {
    color: #00aeef;
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
}

.navbar .menu li a {
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: 1s ease;
}

.navbar .menu li a:hover {
    color: #00aeef;
    border-bottom: 1px solid white;
}

.navbar.sticky .menu li a:hover {
    color: white;
}

/* Menu btn styling */

.menu-btn {
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}


/* home section  */

.home {
    display: flex;
    background: url("images/banner.jpg") no-repeat center;
    height: 100vh;
    color: #fff;
}

.home .max-width {
    margin: auto 120px auto 40px;
}

.home .home-content .text-1 {
    font-size: 20px;
    margin: 15px 0;
    font-family: 'Montserrat';
}

.home .home-content .text-2 {
    font-size: 55px;
    font-weight: 300;
    margin-left: -3px;
    font-family: 'Changa One';
}

.home .home-content .text-3 {
    font-size: 25px;
    margin: 15px 0;
    font-family: 'Montserrat';
}

.home .home-content .text-3 span {
    color: #00aeef;
    font-weight: 600;
}
.home .home-content a {
    display: inline-block;
    padding: 6px 18px;
    background: orangered;
    font-size: 20px;
    border-radius: 6px;
    color: #fff;
    transition: 1s ease;
    margin-top: 20px;
    font-family: 'Poppins';
    border: 2px solid orangered;
}
.home .home-content a:hover {
    color: #fff;
    border: 2px solid orangered;
    background: none;
}

/* Media query */

@media(max-width: 947px) {
    .max-width {
        padding: 0 50px;
    }
    .menu-btn {
        display: block;
        z-index: 1;
    }

    .menu-btn i.active::before {
        content: "\f00d";
    }
    
    .navbar .menu{
        position: fixed;
        background: #111;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        text-align: center;
        padding-top: 80px;
    }

    .home{
        width: 100%;
    }


    .navbar .menu.active {
        left: 0;
    }

    .navbar .menu li {
        display: block;
    }

    .navbar .menu li a {
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text-1 {
        font-size: 19px;
    }
    .home .home-content .text-2 {
        font-size: 43px;
        font-weight: 300;
        
    }
    .home .home-content .text-3{
        font-size: 20px;
    }
    .home .home-content .text-3 span {
        color: orangered;
        font-weight: 600;
    }
    .home .home-content a {
        margin-top: 10px;
    }
}

/* About Section */

section.about {
    padding: 100px 0 0;
}

.about {
    font-family: 'Montserrat', 'Poppins', sans-serif;
}

.about .title {
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    /* margin-bottom: 60px; */
    font-family: 'Montserrat';
    margin-bottom: 20px;
    
}
.about .title1 {
    text-align: center;
    font-size: 15px;
    font-family: 'Montserrat';
    margin-bottom: 60px;
    

}

.about h3.title1 {
    border-bottom: 2px solid coral;
    line-height: 2px;
    box-sizing: border-box;
    /* width: 100px; */


}

.about h3.title1 span {
    background: white;
    padding: 0 5px;
}

.about .about-content {
    display: flex;
    align-items: center;
    flex: wrap;
    justify-content: space-between;
}

.about .about-content .coloumn-left {
    width: 45%;

}

.about .about-content .coloumn-left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 10px;
}

.about .about-content .coloumn-right {
    width: 55%;
    
}

.about .about-content .coloumn-right .text {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}

.about .about-content .coloumn-right .text span {
    color: #00aeef;
    font-weight: 800;
    
}

.about .about-content .coloumn-right p {
    text-align: justify;
}

.about .about-content .coloumn-right a {
    display: inline-block;
    padding: 5px 12px;
    background: orangered;
    font-size: 12px;
    border-radius: 3px;
    color: #fff;
    transition: 1s ease;
    margin-top: 20px;
    font-family: 'Poppins';
    border: 2px solid orangered;
} 

.about .about-content .coloumn-right a:hover {
    color: orangered;
    border: 1px solid orangered;
    background: none;
}

/* media queries about section */








/* services section */
section.services {
    padding: 50px 0 0;
    margin-top: 30px;
}
.services {
    background: #111;
    width: 100%;
    height: 470px;
    
}
.services .title {
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    /* margin-bottom: 60px; */
    font-family: 'Montserrat';
    margin-bottom: 20px;
    color: white;
    margin-top: 50px;
}
.services .title1 {
    text-align: center;
    font-size: 15px;
    font-family: 'Montserrat';
    margin-bottom: 10px;
    color: white;
    

}

.services h3.title1 {
    border-bottom: 2px solid #fff;
    line-height: 2px;
    box-sizing: border-box;
    /* width: 100px; */


}

.services h3.title1 span {
    background: #111;
    padding: 0 5px;
}

.services .serv-content {
    display: flex;
    /* background: brown; */
    margin-bottom: 30px;
    
    
    /* box-sizing: border-box; */
}

.services .serv-content .card {
    background: black;
    display: inline-block;
    padding: 10px 20px ;
    margin: 20px;
    border-radius: 6px;
    transition: 1s ease;
    
}

.services .serv-content .card:hover {
    background: orangered;
    transform: scale(1.02);
    
}
.services .serv-content .card i {
    text-align: center;
    color: white;
    display: block;
}

.services .serv-content .card .text {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 0 20px 0;
    color: #fff;
    font-family: 'Poppins';
}

.services .serv-content .card p {
    font-size: 14px;
    color: #fff;
    padding: 0 0 10px 0;
}


/* media query for services */








/* skill section */
section.skills {
    padding: 50px 0;

}

.skills .title {
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    /* margin-bottom: 60px; */
    font-family: 'Montserrat';
    margin-bottom: 20px;
    color: #111;
    margin-top: 50px;
}
.skills .title1 {
    text-align: center;
    font-size: 15px;
    font-family: 'Montserrat';
    margin-bottom: 10px;
    color: #111;
    

}

.skills h3.title1 {
    border-bottom: 2px solid orangered;
    line-height: 2px;
    box-sizing: border-box;
}

.skills h3.title1 span {
    background: #fff;
    padding: 0 5px;
}


.skills .skills-content {
    display: flex;
    margin: 20px;
}

.skills .skills-content .coloumn {
    margin: 20px;
}


.skills .skills-content .coloumn-left {
    flex-basis: 50%;
    /* background: coral; */
    border-radius: 10px;
    margin: 20px;
    padding: 10px 10px;
}

.skills .skills-content .coloumn-right {
    flex-basis: 50%;
    /* background: cyan; */
    border-radius: 10px;
    margin: 20px;
}

.skills .skills-content .coloumn-left .text {
    font-family: 'Poppins';
    font-size: 17px;
    font-weight: 600;
}

.skills .coloumn-left p {
    font-size: 16px;
    padding-top: 10px;
    text-align: justify;
}

.skills .coloumn-left a {
    display: inline-block;
    padding: 5px 12px;
    background: orangered;
    font-size: 12px;
    border-radius: 3px;
    color: #fff;
    transition: 1s ease;
    margin-top: 10px;
    font-family: 'Poppins';
    border: 2px solid orangered;
} 

.skills .coloumn-left a:hover {
    color: orangered;
    border: 1px solid orangered;
    background: none;
}

.skills .skills-content .coloumn-right .bars {
    margin-bottom: 6px;
    /* background: orchid; */
}

.skills .skills-content .coloumn-right .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.skills .skills-content .coloumn-right span {
    font-weight: 300;
    font-size: 15px;
    font-family: 'Poppins';
}

.skills .skills-content .coloumn-right .line {
    height: 5px;
    width: 100%;
    background: lightgrey;
    position: relative;
    z-index: -1;
    
}

.skills .skills-content .coloumn-right .line::before {
    content: '';
    height: 100%;
    background: red;
    left: 0;
    top: 0;
    position: absolute;
}

.skills .skills-content .coloumn-right .html::before {
    width: 90%;
}

.skills .skills-content .coloumn-right .css::before {
    width: 80%;
}
.skills .skills-content .coloumn-right .js::before {
    width: 80%;
}
.skills .skills-content .coloumn-right .ilustrator::before {
    width: 85%;
}
.skills .skills-content .coloumn-right .photoshop::before {
    width: 80%;
}
.skills .skills-content .coloumn-right .figma::before {
    width: 85%;
}
.skills .skills-content .coloumn-right .sosmed::before {
    width: 90%;
}

/* Skills media query */












/* Teams section */
section.teams {
    padding: 50px 0;
    
}

.teams {
    width: 100%;
    height: 750px;
    background: #111;
}

.teams .title {
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    /* margin-bottom: 60px; */
    font-family: 'Montserrat';
    margin-bottom: 20px;
    color: #fff;
    margin-top: 50px;
}
.teams .title1 {
    text-align: center;
    font-size: 15px;
    font-family: 'Montserrat';
    margin-bottom: 10px;
    color: #fff;
    

}

.teams h3.title1 {
    border-bottom: 2px solid orangered;
    line-height: 2px;
    box-sizing: border-box;
    margin-bottom: 30px;
    
}

.teams h3.title1 span {
    background: #111;
    padding: 0 5px;
    font-family: 'Poppins';
}

.teams .carousel {
    display: flex;
    overflow: hidden;
    /* background: coral; */

}

.teams .carousel .card {
    /* background: #00aeef; */
    /* padding: 25px 80px; */
    text-align: center;
    
    margin: 25px;
}

.teams .carousel .card .boxa {
    background: #222;
    flex-direction: column;
    align-items: center;
    padding: 60px 35px;
    border-radius: 10px;
    transition: 1s ease;
}

.teams .carousel .card .boxa:hover {
    background: orangered;
    transform: scale(1.02);
}

.teams .carousel .card img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid orangered;
    transition: 1s ease;
}
.teams .carousel .card img:hover {
    border: 4px solid white;
}


.teams .card .boxa .text {
    color: white;
    font-family: 'poppins';
    font-size: 20px;
    padding-top: 20px;
    /* background: violet; */
}

.teams .card .boxa p {
    color: white;
    /* background: blue; */
    /* padding: 40px 20px; */
    text-align: justify;
    width: 260px;
    display: inline-block;
    padding-top: 20px;
}

/* Media Query section */



























/* contact section */
section.contact {
    padding: 50px 0;
}

.contact .title {
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    font-family: 'Montserrat';
    margin-bottom: 20px;
    color: #111;
    margin-top: 50px;
}
.contact .title1 {
    text-align: center;
    font-size: 15px;
    font-family: 'Montserrat';
    margin-bottom: 10px;
    color: #111;
    

}

.contact h3.title1 {
    border-bottom: 2px solid orangered;
    line-height: 2px;
    box-sizing: border-box;
    margin-bottom: 30px;
}

.contact h3.title1 span {
    background: #fff;
    padding: 0 5px;
    font-family: 'Poppins';
}

.contact {
    font-family: 'poppins';
}

.contact .contact-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    /* background: chartreuse; */
}
.contact .contact-content .text {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.contact .contact-content .coloumn{
    width: calc(50% - 30px);

}
.contact .contact-content .left p{
    text-align: justify;
    margin-bottom: 10px;
}

.contact .contact-content .left .icons {
    margin-left: 10px 0;
}

.contact .contact-content .row {
    display: flex;
    height: 65px;
    align-items: center;
}

.contact .contact-content .row i {
    font-size: 25px;
    color: orangered;
}

.contact .contact-content .row .info {
    margin-left: 30px;
}

.contact .contact-content .coloumn .info .head {
    font-weight: 600;
}
.contact .contact-content .info .sub-title {
    color: #222;
}

.contact .right form .fields {
    display: flex;
}

.contact .right form .field,
.contact .right form .fields .field{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}

.contact .right form .textarea {
    height: 80px;
    width: 100%;
}

.contact .right form .name {
    margin-right: 10px;
}

.contact .right form .email {
    margin-left: 10px;
}

.contact .right form .field input, 
.contact .right form .textarea textarea{
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 15px;
    font-family: 'poppins', sans-serif;
}

.contact .right form .textarea textarea {
    padding-top: 10px;
    resize: none;
}

.contact .right form .button {
    height: 47px;
    width: 170px;
}

.contact .right form .button button {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    background: orangered;
    border: none;
    font-size: 14px;
    font-family: 'poppins';
    color: #fff;
    cursor: pointer;
    transition: 1s ease;
}

.contact .right form .button button:hover {
    border: 2px solid orangered;
    background: white;
    color: orangered;
    transform: scale(1.02);
}

/* media query contact section */















/* footer section */
footer {
    font-family: 'poppins';
    background: #111;
    padding: 20px 23px;
    margin-top: 40px;
    text-align: center;
    word-spacing: 5px;
    
}

footer span {
    color: #fff;
}


footer span a {
    color: orangered;
}